@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Merriweather&display=swap');
html,body {
    height: 100%;
    width: 100%;
    
}
.text-center{
    text-align: center;
    background-color:rgb(100, 177, 248);
}
.bg-red{
    background-color:rgb(100, 177, 248);
    width: 294px;
    

}
.mx-auto{
    margin: auto;
}

.flex{
display: flex;
}
 .flex-col {
flex-direction: column;

}

.items-center{
    align-items: center;
}

.button {
    padding: 22px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 17px;
    cursor: pointer;
    width: 59px;

}


.row {
    margin: 5px;
}


.row input {
    font-size: 23px;
    margin: 0;
    padding: 10px 38px;
    border: 2px solid black;
    border-radius: 5px;
    width: 165px;
}